In [1]:
import mysql.connector
import time

In [2]:
# Establishing connection to the MySQL Database
database = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="titanium@231099",
    auth_plugin='mysql_native_password',
    database="dbms"
)

In [3]:
# Creating cursor to interact with the database
my_cursor=database.cursor()

In [22]:
# Record the start time to calculate the execution time
s_time1 = time.time()

# Example query with complex joins
query = "SELECT a.AID, a.Title, r.RName, af.AName, rpt.Type FROM article AS a, researcher AS r, affiliation AS af, researchproject AS rp, researchprojecttype AS rpt WHERE rp.OName IN ('Google','IBM') AND a.A_RID = r.RID AND r.AFID = af.AFID AND rp.RPID = rpt.RPID AND rp.rpid IN( SELECT a.rpid WHERE rp.rpid = a.rpid) UNION SELECT a.AID, a.Title, r.RName, af.AName, rpt.Type FROM article AS a, researcher AS r, affiliation AS af, researchproject AS rp, researchprojecttype AS rpt, coauthors AS c WHERE rp.OName IN ('Google','IBM') AND c.CA_RID = r.RID AND c.AID = a.AID AND r.AFID = af.AFID AND rp.RPID = rpt.RPID AND rp.rpid IN( SELECT a.rpid WHERE rp.rpid = a.rpid)"

# executing the query
my_cursor.execute(query)

# Calculating the execution time
time1 = time.time() - s_time1

In [23]:
# Fetching results from the executed query
results = my_cursor.fetchall()

In [24]:
# Printing the execution time of the query
print(time1)

0.06080055236816406